<!DOCTYPE html>
<html>
<head>
    <title><%= title %>></title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
<h1></h1>

<p></p>

<div id="photos">
    <% images.forEach(function(image){ %>
    <div class="photo">
        <h2><%= image.name %></h2>
        <img src="/images/<%= image.path %>">
    </div>
    <% }) %>
</div>
</body>
</html>