<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/jquery-1.11.0.min.js"></script>
    <script src="/javascripts/underscore.js"></script>
    <script src="/javascripts/backbone.js"></script>

    <script src="/javascripts/app/router.js"></script>
</head>
<body>
<div id="menu">
    <ul>
        <li><a href="#!/">Upload</a></li>
        <li><a href="#!/images">Images</a></li>
        <li><a href="#!/bundles">Bundles</a></li>
        <li><a href="#!/login">LogIn</a></li>
    </ul>
</div>

<div id="block" class="block">
</div>


    <div id="upload" class="block">
        <p><input type="text" placeholder="Name"/></p>

        <p><input type="file"/></p>

        <p><input type="submit"/></p>
</div>


    <div id="images" class="block">
        <h2>Images</h2>
        <img src="/images/">
    </div>

</body>
</html>