<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
    <script src="/javascripts/app/model.js"></script>
</head>
<body>
<div id="menu">
    <ul>
        <li><a href="#!/">Upload</a></li>
        <li><a href="#!/images">Images</a></li>
    </ul>
</div>
</body>
</html>